.button {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  cursor: pointer;
  padding: 0;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.5);
}

.button:hover .icon {
  fill: #ffd700; /* 호버 시 아이콘 내부 채우기 */
  color: #ffd700; /* 호버 시 아이콘 색상 */
}

.favorite {
  color: #ffd700;
}

.notFavorite {
  color: rgba(255, 255, 255, 0.8);
}

.icon {
  height: 1.25rem;
  width: 1.25rem;
}
